@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v29-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v29-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
}

img {
    vertical-align: middle;
}



.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.site-header {
    padding: 25px 0;
}

.header-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    display: flex;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}




.site-logo {
    margin-right: 16px;
    width: 50px;
    height: 50px;
}

.logo-img{
display: block;
}

.name {
 
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    text-decoration: none;
}

.name:hover {
    color: #f00;
}

.name:active{
    color: #DE2E54;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}



.list-item {
    margin-right: 38px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #222222;
    
}

.list-item-link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #222222;
    text-decoration: none;
}

.list-item-link:hover {
    color: #f00;
}

.list-item-link:active{
    opacity: 0.6;
}


.header-link {
    padding: 12px 24px;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-link:hover {
    color: #DE2E54;
    background-color: #FFFFFF;
}

.header-link:active{
    color: #FFFFFF;
    background: #DE2E54;
    opacity: 0.6;
}


.hero {
    padding-top: 29px;
    background-color: #0EB4C1;
}

.hero-content-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-content {
    /* display: flex; */
    flex-direction: column;
    margin: 0, auto;
    
}

.hero-content-tittle {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.hero-content-text {
    margin: 0;
    margin-bottom: 36px;
    width: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFF
}

.hero-content-link {
    
    padding: 12px 24px;
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.hero-content-link:hover {
    background-color:#de2e54cc;
    color: #fff;
    border-color: transparent;
}

.hero-content-link:active {
    background-color: #de2e5499;
    color: #fff;
    border-color: transparent;
}


.hero-img {
   
    margin-left: 64px;
}

.services{
padding: 120px 0;
}

.services-name {
    display: flex;
    justify-content: center;
    align-items: center;
}




.services-tittle {
    margin: 0;
    margin-bottom: 56px;
    margin-right: auto;
    margin-left: auto;
    
}

.list-services {
    width: 864px;
    margin: 0 auto;
}


.sevices-types {
    display: flex;
    margin-bottom: 60px;
    /* justify-content: space-between;
    align-items: center; */
    
}

.services-img {
    border-radius: 24px;
    margin-right: 64px;
}

.services-content {
    width: 600px;
    
}

.services-content-link {
    text-decoration: none;
}

.services-tittle-item {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    color: #222222;
}

.services-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}


.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0, auto;
   
}


.services-list-link {
    display: flex;
    justify-content: center;
    
    padding: 12px 24px;
    
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF
}


.services-list-link:hover {
    color: #f00;
    background-color: #FFFFFF;
}

.services-list-link:active{
    color: #fff;
    background-color: #DE2E54;
    opacity: 0.6;
}

.section-bottom {
    background: #0EB4C1;
    margin: 0, auto;
    padding-bottom: 64px;
}

.bottom-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0, auto;
    padding-top: 64px;
    
    
}

.bottom-section-link {
    
    text-decoration: none;
}

.tittle-section-link {
    padding: 64px, 0;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF
}

.bottom-connection-list {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF;
    list-style-type: none;
    
}

.item-link {
    margin-right: 40px;
    padding: 12px 24px;
    width: 214px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.item-link:hover {
    color: #FFFFFF;
    background-color: #f00;
    border-color: transparent;
}

.item-link:active{
    color: #fff;
    background-color: #DE2E54;
    opacity: 0.6;
    border-color: transparent;
}


.item-link-messanger {
    margin: 0;
}

.item-link-messanger:hover {
    color: #FFFFFF;
    background-color: #f00;
}

.site-bottom {
    padding: 24px 0;
    background: #222222;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.tittle {

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.tittle:active{
    color: #FFFFFF;

    opacity: 0.6;
}


.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    /* margin: 38px auto; */
    list-style: none;
}

.footer-list-item {
    margin-right: 32px;
    color: #FFFFFF;
    
}

.lis-item-link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.lis-item-link:hover {
    color: #f00;
}

.lis-item-link:active{
    color: #FFFFFF;
    opacity: 0.6;
}